samples/cc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://beta.swbc.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://beta.swbc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://beta.swbc.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="PostCreditCardPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCardTransResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AvsAddr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AvsZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PNRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RespMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseStringRaw" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SWBCAuthHeader" type="tns:SWBCAuthHeader" />
      <s:complexType name="SWBCAuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="PostCreditCardPaymentV3_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InBranch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentV3_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentV3_1Result" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithApplyTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithApplyToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithApplyToResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithApplyToV3_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InBranch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithApplyToV3_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithApplyToV3_1Result" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithOriginTypeApplyTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithOriginTypeApplyToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithOriginTypeApplyToResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithOriginTypeApplyToV3_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InBranch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithOriginTypeApplyToV3_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithOriginTypeApplyToV3_1Result" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithPaymentSource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaymentSource" type="tns:PaymentSource" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PaymentSource">
        <s:restriction base="s:string">
          <s:enumeration value="OnlineAkcelerant" />
          <s:enumeration value="OnlineECM" />
          <s:enumeration value="OnlineWeblet" />
          <s:enumeration value="OnlineModules" />
          <s:enumeration value="ScheduledTask_StatusResubmission" />
          <s:enumeration value="ScheduledTask_SubmitRecurringTransactions" />
          <s:enumeration value="ScheduledTask_GeneratePayments" />
          <s:enumeration value="WebService_AKCPaymentProcessor" />
          <s:enumeration value="WebService_IVRPaymentProcessor" />
          <s:enumeration value="WebService_PaymentProcessor" />
          <s:enumeration value="WebService_Cash" />
          <s:enumeration value="BaconLoanPay" />
          <s:enumeration value="BaconEnterprise" />
          <s:enumeration value="Payments" />
          <s:enumeration value="Symitar" />
          <s:enumeration value="MeridianLink" />
          <s:enumeration value="SymXchange" />
          <s:enumeration value="Akuvo" />
          <s:enumeration value="ClarkCountySaml" />
          <s:enumeration value="Tccs" />
          <s:enumeration value="CovantageSaml" />
          <s:enumeration value="IvrSupportTeam" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PostCreditCardPaymentWithPaymentSourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithPaymentSourceResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithPaymentSourceV3_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaymentSource" type="tns:PaymentSource" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InBranch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithPaymentSourceV3_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithPaymentSourceV3_1Result" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaymentSource" type="tns:PaymentSource" />
            <s:element minOccurs="0" maxOccurs="1" name="SubmittedIPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaymentSource" type="tns:PaymentSource" />
            <s:element minOccurs="0" maxOccurs="1" name="SubmittedIPAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InBranch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1Result" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithApplyFundsToList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applyFundsToList" type="tns:ArrayOfApplyFundsTo" />
            <s:element minOccurs="0" maxOccurs="1" name="entityId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="individualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="convenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentSource" type="tns:PaymentSource" />
            <s:element minOccurs="0" maxOccurs="1" name="submittedIpAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inBranch" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="partyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentSourceChannel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partnerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfApplyFundsTo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApplyFundsTo" nillable="true" type="tns:ApplyFundsTo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplyFundsTo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplyToAccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyToAmount" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostCreditCardPaymentWithApplyFundsToListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithApplyFundsToListResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithApplyFundsToListSOR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applyFundsToList" type="tns:ArrayOfApplyFundsTo" />
            <s:element minOccurs="0" maxOccurs="1" name="entityId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="individualName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expirationDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billingZip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="convenienceFee" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noticeLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailSendTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailBlindCopyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterAddress2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letterZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentSource" type="tns:PaymentSource" />
            <s:element minOccurs="0" maxOccurs="1" name="submittedIpAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inBranch" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="partyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentSourceChannel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateOfResidence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="feeSource" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostCreditCardPaymentWithApplyFundsToListSORResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostCreditCardPaymentWithApplyFundsToListSORResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostDigitalWalletPaymentWithApplyFundsToListSOR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:PostDigitalWalletPaymentWithApplyFundsToListRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PostDigitalWalletPaymentWithApplyFundsToListRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplyFundsToList" type="tns:ArrayOfApplyFundsTo" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DigitalPaymentCardData" type="tns:DigitalPaymentCardData" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingZip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentSource" type="tns:PaymentSource" />
          <s:element minOccurs="0" maxOccurs="1" name="SubmittedIpAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InBranch" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PartyId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentSourceChannel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartnerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateOfResidence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FeeSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DigitalPaymentCardData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardIndicator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentCryptogram" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Prepaid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Provider" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionType" type="tns:DigitalWalletTransactionType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DigitalWalletTransactionType">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Single" />
          <s:enumeration value="Recurring" />
          <s:enumeration value="Installment" />
          <s:enumeration value="Deferred" />
          <s:enumeration value="SecureEcommerce" />
          <s:enumeration value="Ecommerce" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PostDigitalWalletPaymentWithApplyFundsToListSORResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostDigitalWalletPaymentWithApplyFundsToListSORResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundCreditCardPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonForRefund" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundCreditCardPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefundCreditCardPaymentResult" type="tns:CreditCardTransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestF5Function">
        <s:complexType />
      </s:element>
      <s:element name="TestF5FunctionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestF5FunctionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostCreditCardPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPayment" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentV3_1SoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentV3_1" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentV3_1SoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentV3_1Response" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentV3_1SWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyToSoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithApplyTo" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyToSoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithApplyToResponse" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyToSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyToV3_1SoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithApplyToV3_1" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyToV3_1SoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithApplyToV3_1Response" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyToV3_1SWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithOriginTypeApplyToSoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithOriginTypeApplyTo" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithOriginTypeApplyToSoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithOriginTypeApplyToResponse" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithOriginTypeApplyToSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithOriginTypeApplyToV3_1SoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithOriginTypeApplyToV3_1" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithOriginTypeApplyToV3_1SoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithOriginTypeApplyToV3_1Response" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithOriginTypeApplyToV3_1SWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceSoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithPaymentSource" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceSoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithPaymentSourceResponse" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceV3_1SoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithPaymentSourceV3_1" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceV3_1SoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithPaymentSourceV3_1Response" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceV3_1SWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressSoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressSoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressResponse" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1SoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1SoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1Response" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1SWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyFundsToListSoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithApplyFundsToList" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyFundsToListSoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithApplyFundsToListResponse" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyFundsToListSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyFundsToListSORSoapIn">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithApplyFundsToListSOR" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyFundsToListSORSoapOut">
    <wsdl:part name="parameters" element="tns:PostCreditCardPaymentWithApplyFundsToListSORResponse" />
  </wsdl:message>
  <wsdl:message name="PostCreditCardPaymentWithApplyFundsToListSORSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostDigitalWalletPaymentWithApplyFundsToListSORSoapIn">
    <wsdl:part name="parameters" element="tns:PostDigitalWalletPaymentWithApplyFundsToListSOR" />
  </wsdl:message>
  <wsdl:message name="PostDigitalWalletPaymentWithApplyFundsToListSORSoapOut">
    <wsdl:part name="parameters" element="tns:PostDigitalWalletPaymentWithApplyFundsToListSORResponse" />
  </wsdl:message>
  <wsdl:message name="PostDigitalWalletPaymentWithApplyFundsToListSORSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="RefundCreditCardPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:RefundCreditCardPayment" />
  </wsdl:message>
  <wsdl:message name="RefundCreditCardPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:RefundCreditCardPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="RefundCreditCardPaymentSWBCAuthHeader">
    <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader" />
  </wsdl:message>
  <wsdl:message name="TestF5FunctionSoapIn">
    <wsdl:part name="parameters" element="tns:TestF5Function" />
  </wsdl:message>
  <wsdl:message name="TestF5FunctionSoapOut">
    <wsdl:part name="parameters" element="tns:TestF5FunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditCardTransactionSoap">
    <wsdl:operation name="PostCreditCardPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input message="tns:PostCreditCardPaymentSoapIn" />
      <wsdl:output message="tns:PostCreditCardPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input message="tns:PostCreditCardPaymentV3_1SoapIn" />
      <wsdl:output message="tns:PostCreditCardPaymentV3_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with apply to information.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithApplyTo" message="tns:PostCreditCardPaymentWithApplyToSoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithApplyTo" message="tns:PostCreditCardPaymentWithApplyToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with apply to information.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithApplyToV3_1" message="tns:PostCreditCardPaymentWithApplyToV3_1SoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithApplyToV3_1" message="tns:PostCreditCardPaymentWithApplyToV3_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with apply to information and SEC origin.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithOriginTypeApplyTo" message="tns:PostCreditCardPaymentWithOriginTypeApplyToSoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithOriginTypeApplyTo" message="tns:PostCreditCardPaymentWithOriginTypeApplyToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with apply to information and SEC origin.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithOriginTypeApplyToV3_1" message="tns:PostCreditCardPaymentWithOriginTypeApplyToV3_1SoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithOriginTypeApplyToV3_1" message="tns:PostCreditCardPaymentWithOriginTypeApplyToV3_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with apply to information, SEC origin and Payment Source.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithPaymentSource" message="tns:PostCreditCardPaymentWithPaymentSourceSoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithPaymentSource" message="tns:PostCreditCardPaymentWithPaymentSourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with apply to information, SEC origin and Payment Source.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceV3_1" message="tns:PostCreditCardPaymentWithPaymentSourceV3_1SoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceV3_1" message="tns:PostCreditCardPaymentWithPaymentSourceV3_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with apply to information, SEC origin, Payment Source and IP address.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress" message="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressSoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress" message="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with apply to information, SEC origin, Payment Source and IP address.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1" message="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1SoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1" message="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentWithApplyFundsToList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with multiple apply to information, SEC origin, Payment Source and IP address.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input message="tns:PostCreditCardPaymentWithApplyFundsToListSoapIn" />
      <wsdl:output message="tns:PostCreditCardPaymentWithApplyFundsToListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentWithApplyFundsToList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Credit Card transaction with multiple apply to information, SEC origin, Payment Source, StateOfResidence and IP address.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input name="PostCreditCardPaymentWithApplyFundsToListSOR" message="tns:PostCreditCardPaymentWithApplyFundsToListSORSoapIn" />
      <wsdl:output name="PostCreditCardPaymentWithApplyFundsToListSOR" message="tns:PostCreditCardPaymentWithApplyFundsToListSORSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostDigitalWalletPaymentWithApplyFundsToListSOR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Post a single Digital Wallet transaction with multiple apply to information, SEC origin, Payment Source, StateOfResidence and IP address.  Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input message="tns:PostDigitalWalletPaymentWithApplyFundsToListSORSoapIn" />
      <wsdl:output message="tns:PostDigitalWalletPaymentWithApplyFundsToListSORSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefundCreditCardPayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Refund a credit card transaction. Returns CreditCardTransResponse.</wsdl:documentation>
      <wsdl:input message="tns:RefundCreditCardPaymentSoapIn" />
      <wsdl:output message="tns:RefundCreditCardPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestF5Function">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Dummy Function.  Testing Only</wsdl:documentation>
      <wsdl:input message="tns:TestF5FunctionSoapIn" />
      <wsdl:output message="tns:TestF5FunctionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditCardTransactionSoap" type="tns:CreditCardTransactionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostCreditCardPayment">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentV3_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithApplyTo" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithApplyTo">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithApplyToSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithApplyTo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithApplyToV3_1" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithApplyToV3_1">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithApplyToV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithApplyToV3_1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithOriginTypeApplyTo" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithOriginTypeApplyTo">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithOriginTypeApplyToSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithOriginTypeApplyTo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithOriginTypeApplyToV3_1" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithOriginTypeApplyToV3_1">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithOriginTypeApplyToV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithOriginTypeApplyToV3_1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithPaymentSource" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithPaymentSource">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithPaymentSourceSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithPaymentSource">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithPaymentSourceV3_1" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceV3_1">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithPaymentSourceV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceV3_1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentWithApplyFundsToList">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithApplyFundsToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithApplyFundsToListSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentWithApplyFundsToList">
      <soap:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithApplyFundsToListSOR" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithApplyFundsToListSOR">
        <soap:body use="literal" />
        <soap:header message="tns:PostCreditCardPaymentWithApplyFundsToListSORSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithApplyFundsToListSOR">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostDigitalWalletPaymentWithApplyFundsToListSOR">
      <soap:operation soapAction="http://beta.swbc.com/PostDigitalWalletPaymentWithApplyFundsToListSOR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PostDigitalWalletPaymentWithApplyFundsToListSORSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundCreditCardPayment">
      <soap:operation soapAction="http://beta.swbc.com/RefundCreditCardPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RefundCreditCardPaymentSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestF5Function">
      <soap:operation soapAction="http://beta.swbc.com/TestF5Function" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditCardTransactionSoap12" type="tns:CreditCardTransactionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostCreditCardPayment">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentV3_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithApplyTo" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithApplyTo">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithApplyToSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithApplyTo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithApplyToV3_1" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithApplyToV3_1">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithApplyToV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithApplyToV3_1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithOriginTypeApplyTo" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithOriginTypeApplyTo">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithOriginTypeApplyToSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithOriginTypeApplyTo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithOriginTypeApplyToV3_1" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithOriginTypeApplyToV3_1">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithOriginTypeApplyToV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithOriginTypeApplyToV3_1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithPaymentSource" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithPaymentSource">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithPaymentSourceSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithPaymentSource">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithPaymentSourceV3_1" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceV3_1">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithPaymentSourceV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceV3_1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPayment">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddress">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentV3_1">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1SWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithPaymentSourceAndSubmittedIPAddressV3_1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentWithApplyFundsToList">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithApplyFundsToList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithApplyFundsToListSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCreditCardPaymentWithApplyFundsToList">
      <soap12:operation soapAction="http://beta.swbc.com/PostCreditCardPaymentWithApplyFundsToListSOR" style="document" />
      <wsdl:input name="PostCreditCardPaymentWithApplyFundsToListSOR">
        <soap12:body use="literal" />
        <soap12:header message="tns:PostCreditCardPaymentWithApplyFundsToListSORSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PostCreditCardPaymentWithApplyFundsToListSOR">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostDigitalWalletPaymentWithApplyFundsToListSOR">
      <soap12:operation soapAction="http://beta.swbc.com/PostDigitalWalletPaymentWithApplyFundsToListSOR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostDigitalWalletPaymentWithApplyFundsToListSORSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundCreditCardPayment">
      <soap12:operation soapAction="http://beta.swbc.com/RefundCreditCardPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RefundCreditCardPaymentSWBCAuthHeader" part="SWBCAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestF5Function">
      <soap12:operation soapAction="http://beta.swbc.com/TestF5Function" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCardTransaction">
    <wsdl:port name="CreditCardTransactionSoap" binding="tns:CreditCardTransactionSoap">
      <soap:address location="http://localhost:2785/creditcard.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditCardTransactionSoap12" binding="tns:CreditCardTransactionSoap12">
      <soap12:address location="http://localhost:2785/creditcard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>