samples/ivr.wsdl


<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://swbc.com/" xmlns:s1="http://www.swbc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://swbc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://swbc.com/">
      <s:import namespace="http://www.swbc.com/" />
      <s:element name="GetNewIVRRequestID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LangStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewIVRRequestIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNewIVRRequestIDResult" type="tns:RequestIDData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestIDData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumListItems" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplyToTypeText1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URLForAudioFile1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeID1" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChargeConFee1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplyToTypeText2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URLForAudioFile2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeID2" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChargeConFee2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplyToTypeText3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URLForAudioFile3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeID3" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChargeConFee3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplyToTypeText4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URLForAudioFile4" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeID4" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChargeConFee4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplyToTypeText5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URLForAudioFile5" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeID5" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChargeConFee5" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConFee" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IVRCallFlowId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestion1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestion2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthorizationHeader" type="tns:AuthorizationHeader" />
      <s:complexType name="AuthorizationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authorization" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ValidateAccountNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumberToValidate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAccountNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateAccountNumberResult" type="tns:ValidAcctData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidAcctData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsAccountNumberValid" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentAmount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxTransAmount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="FIPhoneNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountTypesByMemberAccountNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LangStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountTypesByMemberAccountNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountTypesByMemberAccountNumberResult" type="s1:ClientLoanInfoWithApplyToTypesResp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountTypesByMemberAccountNumberAndZipCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LangStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountTypesByMemberAccountNumberAndZipCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountTypesByMemberAccountNumberAndZipCodeResult" type="s1:ClientLoanInfoWithApplyToTypesResp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaymentTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPaymentTypesResult" type="tns:PaymentTypesData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PaymentTypesData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PaymentTypes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateABANumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ABANumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateABANumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateABANumberResult" type="tns:ValidABAData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidABAData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsABAValid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDisclosureDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDisclosureDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDisclosureDetailsResult" type="tns:DisclosureDetailsData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DisclosureDetailsData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IVRInstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstNameFilePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="IVRPhoneNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDisclosureDetailsConFee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StateOfResidence" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AmountToPay" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDisclosureDetailsConFeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDisclosureDetailsConFeeResult" type="tns:DisclosureDetailsData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessACHPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AmountToPay" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationFileURI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessACHPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessACHPaymentResult" type="tns:ProcessACHPaymentData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProcessACHPaymentData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCardTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCardTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCardTypesResult" type="tns:GetCardTypesData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetCardTypesData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AMEX" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Discover" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MasterCard" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Visa" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateCreditCardNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CCNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCreditCardNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateCreditCardNumberResult" type="tns:ValidateCreditCardData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidateCreditCardData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsCCValid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessCCPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AmountToPay" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="CCCVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthorizationFileURI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessCCPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessCCPaymentResult" type="tns:ProcessCCPaymentData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProcessCCPaymentData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccountTypesByMemberPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountTypesByMemberPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountTypesByMemberPhoneNumberResult" type="s1:ClientLoanInfoWithApplyToTypesResp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1Result" type="tns:MemberLoanInfoWithApplyToTypesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MemberLoanInfoWithApplyToTypesResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IVRRequestId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RequireSecurityAnswer2" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RequireAccountNumber" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="IVRApplyToTypeWithMemberInfoList" type="tns:ArrayOfIVRApplyToTypeWithMemberInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfIVRApplyToTypeWithMemberInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IVRApplyToTypeWithMemberInfo" nillable="true" type="s1:IVRApplyToTypeWithMemberInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataByPrimaryPhoneNumberAndSecurityAnswers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByPrimaryPhoneNumberAndSecurityAnswersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataByPrimaryPhoneNumberAndSecurityAnswersResult" type="tns:MemberLoanInfoWithApplyToTypesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByAccountNumberAndSecurityAnswer1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByAccountNumberAndSecurityAnswer1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataByAccountNumberAndSecurityAnswer1Result" type="tns:MemberLoanInfoWithApplyToTypesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByAccountNumberAndSecurityAnswers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByAccountNumberAndSecurityAnswersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataByAccountNumberAndSecurityAnswersResult" type="tns:MemberLoanInfoWithApplyToTypesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIVRSecurityAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IVRRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIVRSecurityAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateIVRSecurityAnswerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrepareTransactionWithSecurityQuestion1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IvrRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToLoanNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrepareTransactionWithSecurityQuestion1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrepareTransactionWithSecurityQuestion1Result" type="tns:ValidAcctData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrepareTransactionWithSecurityQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IvrRequestId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyToLoanNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityAnswer2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrepareTransactionWithSecurityQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrepareTransactionWithSecurityQuestionsResult" type="tns:ValidAcctData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.swbc.com/">
      <s:complexType name="ClientLoanInfoWithApplyToTypesResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IVRApplyToTypeWithMemberInfoList" type="s1:ArrayOfIVRApplyToTypeWithMemberInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SuccessObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetNewIVRRequestIDResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IVRApplyToTypeList" type="s1:ArrayOfIVRApplyToType" />
              <s:element minOccurs="1" maxOccurs="1" name="ConFee" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="IVRCallFlowID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestion1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestion2" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfIVRApplyToType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IVRApplyToType" nillable="true" type="s1:IVRApplyToType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IVRApplyToType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplyToTypeText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URLForAudioFile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyToTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChargeConFee" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IVRMemberInfo">
        <s:complexContent mixed="false">
          <s:extension base="s1:IVRApplyToType">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AccountLookupID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoanSuffix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CurPaymentAmt" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IVRApplyToTypeWithMemberInfo">
        <s:complexContent mixed="false">
          <s:extension base="s1:IVRMemberInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryPhoneNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ValidateAccountNumberResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IsAccountNumberValid" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PaymentAmount" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxTransAmount" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="FIPhoneNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetPaymentTypesResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PaymentTypes" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IVRMemberInfoResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IVRRequestID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IVRApplyToTypeWithMemberInfoList" type="s1:ArrayOfIVRMemberInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfIVRMemberInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IVRMemberInfo" nillable="true" type="s1:IVRMemberInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ValidateABANumberResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsABAValid" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetDisclosureDetailsResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TransDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IVRInstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InstNameFilePath" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="IVRPhoneNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ProcessPaymentResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetCardTypesResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Visa" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="MasterCard" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Discover" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AMEX" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ValidateCreditCardNumberResp">
        <s:complexContent mixed="false">
          <s:extension base="s1:SuccessObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IsCCValid" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfIVRApplyToTypeWithMemberInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IVRApplyToTypeWithMemberInfo" nillable="true" type="s1:IVRApplyToTypeWithMemberInfo" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNewIVRRequestIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewIVRRequestID" />
  </wsdl:message>
  <wsdl:message name="GetNewIVRRequestIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewIVRRequestIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewIVRRequestIDAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="ValidateAccountNumberSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateAccountNumber" />
  </wsdl:message>
  <wsdl:message name="ValidateAccountNumberSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateAccountNumberAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberAccountNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountTypesByMemberAccountNumber" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberAccountNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountTypesByMemberAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberAccountNumberAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberAccountNumberAndZipCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountTypesByMemberAccountNumberAndZipCode" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberAccountNumberAndZipCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountTypesByMemberAccountNumberAndZipCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberAccountNumberAndZipCodeAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetPaymentTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentTypes" />
  </wsdl:message>
  <wsdl:message name="GetPaymentTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentTypesAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="ValidateABANumberSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateABANumber" />
  </wsdl:message>
  <wsdl:message name="ValidateABANumberSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateABANumberResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateABANumberAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetDisclosureDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDisclosureDetails" />
  </wsdl:message>
  <wsdl:message name="GetDisclosureDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDisclosureDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDisclosureDetailsAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetDisclosureDetailsConFeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDisclosureDetailsConFee" />
  </wsdl:message>
  <wsdl:message name="GetDisclosureDetailsConFeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDisclosureDetailsConFeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDisclosureDetailsConFeeAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="ProcessACHPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessACHPayment" />
  </wsdl:message>
  <wsdl:message name="ProcessACHPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessACHPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessACHPaymentAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetCardTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCardTypes" />
  </wsdl:message>
  <wsdl:message name="GetCardTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCardTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCardTypesAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCreditCardNumber" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCreditCardNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCreditCardNumberAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="ProcessCCPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessCCPayment" />
  </wsdl:message>
  <wsdl:message name="ProcessCCPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessCCPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessCCPaymentAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountTypesByMemberPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountTypesByMemberPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypesByMemberPhoneNumberAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswer1" />
  </wsdl:message>
  <wsdl:message name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswer1Response" />
  </wsdl:message>
  <wsdl:message name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1AuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetDataByPrimaryPhoneNumberAndSecurityAnswersSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswers" />
  </wsdl:message>
  <wsdl:message name="GetDataByPrimaryPhoneNumberAndSecurityAnswersSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataByPrimaryPhoneNumberAndSecurityAnswersAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetDataByAccountNumberAndSecurityAnswer1SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataByAccountNumberAndSecurityAnswer1" />
  </wsdl:message>
  <wsdl:message name="GetDataByAccountNumberAndSecurityAnswer1SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataByAccountNumberAndSecurityAnswer1Response" />
  </wsdl:message>
  <wsdl:message name="GetDataByAccountNumberAndSecurityAnswer1AuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="GetDataByAccountNumberAndSecurityAnswersSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataByAccountNumberAndSecurityAnswers" />
  </wsdl:message>
  <wsdl:message name="GetDataByAccountNumberAndSecurityAnswersSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataByAccountNumberAndSecurityAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataByAccountNumberAndSecurityAnswersAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="ValidateIVRSecurityAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateIVRSecurityAnswer" />
  </wsdl:message>
  <wsdl:message name="ValidateIVRSecurityAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateIVRSecurityAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateIVRSecurityAnswerAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="PrepareTransactionWithSecurityQuestion1SoapIn">
    <wsdl:part name="parameters" element="tns:PrepareTransactionWithSecurityQuestion1" />
  </wsdl:message>
  <wsdl:message name="PrepareTransactionWithSecurityQuestion1SoapOut">
    <wsdl:part name="parameters" element="tns:PrepareTransactionWithSecurityQuestion1Response" />
  </wsdl:message>
  <wsdl:message name="PrepareTransactionWithSecurityQuestion1AuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:message name="PrepareTransactionWithSecurityQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:PrepareTransactionWithSecurityQuestions" />
  </wsdl:message>
  <wsdl:message name="PrepareTransactionWithSecurityQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:PrepareTransactionWithSecurityQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="PrepareTransactionWithSecurityQuestionsAuthorizationHeader">
    <wsdl:part name="AuthorizationHeader" element="tns:AuthorizationHeader" />
  </wsdl:message>
  <wsdl:portType name="SWBC_IVRWSSoap">
    <wsdl:operation name="GetNewIVRRequestID">
      <wsdl:input message="tns:GetNewIVRRequestIDSoapIn" />
      <wsdl:output message="tns:GetNewIVRRequestIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAccountNumber">
      <wsdl:input message="tns:ValidateAccountNumberSoapIn" />
      <wsdl:output message="tns:ValidateAccountNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberAccountNumber">
      <wsdl:input message="tns:GetAccountTypesByMemberAccountNumberSoapIn" />
      <wsdl:output message="tns:GetAccountTypesByMemberAccountNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberAccountNumberAndZipCode">
      <wsdl:input message="tns:GetAccountTypesByMemberAccountNumberAndZipCodeSoapIn" />
      <wsdl:output message="tns:GetAccountTypesByMemberAccountNumberAndZipCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentTypes">
      <wsdl:input message="tns:GetPaymentTypesSoapIn" />
      <wsdl:output message="tns:GetPaymentTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateABANumber">
      <wsdl:input message="tns:ValidateABANumberSoapIn" />
      <wsdl:output message="tns:ValidateABANumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDisclosureDetails">
      <wsdl:input message="tns:GetDisclosureDetailsSoapIn" />
      <wsdl:output message="tns:GetDisclosureDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDisclosureDetailsConFee">
      <wsdl:input message="tns:GetDisclosureDetailsConFeeSoapIn" />
      <wsdl:output message="tns:GetDisclosureDetailsConFeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessACHPayment">
      <wsdl:input message="tns:ProcessACHPaymentSoapIn" />
      <wsdl:output message="tns:ProcessACHPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCardTypes">
      <wsdl:input message="tns:GetCardTypesSoapIn" />
      <wsdl:output message="tns:GetCardTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <wsdl:input message="tns:ValidateCreditCardNumberSoapIn" />
      <wsdl:output message="tns:ValidateCreditCardNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessCCPayment">
      <wsdl:input message="tns:ProcessCCPaymentSoapIn" />
      <wsdl:output message="tns:ProcessCCPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberPhoneNumber">
      <wsdl:input message="tns:GetAccountTypesByMemberPhoneNumberSoapIn" />
      <wsdl:output message="tns:GetAccountTypesByMemberPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1">
      <wsdl:input message="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswer1SoapIn" />
      <wsdl:output message="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswer1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByPrimaryPhoneNumberAndSecurityAnswers">
      <wsdl:input message="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswersSoapIn" />
      <wsdl:output message="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByAccountNumberAndSecurityAnswer1">
      <wsdl:input message="tns:GetDataByAccountNumberAndSecurityAnswer1SoapIn" />
      <wsdl:output message="tns:GetDataByAccountNumberAndSecurityAnswer1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByAccountNumberAndSecurityAnswers">
      <wsdl:input message="tns:GetDataByAccountNumberAndSecurityAnswersSoapIn" />
      <wsdl:output message="tns:GetDataByAccountNumberAndSecurityAnswersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateIVRSecurityAnswer">
      <wsdl:input message="tns:ValidateIVRSecurityAnswerSoapIn" />
      <wsdl:output message="tns:ValidateIVRSecurityAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrepareTransaction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prepare Transaction with Security question1</wsdl:documentation>
      <wsdl:input name="PrepareTransactionWithSecurityQuestion1" message="tns:PrepareTransactionWithSecurityQuestion1SoapIn" />
      <wsdl:output name="PrepareTransactionWithSecurityQuestion1" message="tns:PrepareTransactionWithSecurityQuestion1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrepareTransaction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prepare Transaction with Security questions</wsdl:documentation>
      <wsdl:input name="PrepareTransactionWithSecurityQuestions" message="tns:PrepareTransactionWithSecurityQuestionsSoapIn" />
      <wsdl:output name="PrepareTransactionWithSecurityQuestions" message="tns:PrepareTransactionWithSecurityQuestionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SWBC_IVRWSSoap" type="tns:SWBC_IVRWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewIVRRequestID">
      <soap:operation soapAction="http://swbc.com/GetNewIVRRequestID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetNewIVRRequestIDAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAccountNumber">
      <soap:operation soapAction="http://swbc.com/ValidateAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateAccountNumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberAccountNumber">
      <soap:operation soapAction="http://swbc.com/GetAccountTypesByMemberAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountTypesByMemberAccountNumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberAccountNumberAndZipCode">
      <soap:operation soapAction="http://swbc.com/GetAccountTypesByMemberAccountNumberAndZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountTypesByMemberAccountNumberAndZipCodeAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentTypes">
      <soap:operation soapAction="http://swbc.com/GetPaymentTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPaymentTypesAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateABANumber">
      <soap:operation soapAction="http://swbc.com/ValidateABANumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateABANumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisclosureDetails">
      <soap:operation soapAction="http://swbc.com/GetDisclosureDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDisclosureDetailsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisclosureDetailsConFee">
      <soap:operation soapAction="http://swbc.com/GetDisclosureDetailsConFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDisclosureDetailsConFeeAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessACHPayment">
      <soap:operation soapAction="http://swbc.com/ProcessACHPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProcessACHPaymentAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardTypes">
      <soap:operation soapAction="http://swbc.com/GetCardTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCardTypesAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <soap:operation soapAction="http://swbc.com/ValidateCreditCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateCreditCardNumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessCCPayment">
      <soap:operation soapAction="http://swbc.com/ProcessCCPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProcessCCPaymentAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberPhoneNumber">
      <soap:operation soapAction="http://swbc.com/GetAccountTypesByMemberPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAccountTypesByMemberPhoneNumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1">
      <soap:operation soapAction="http://swbc.com/GetDataByPrimaryPhoneNumberAndSecurityAnswer1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswer1AuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByPrimaryPhoneNumberAndSecurityAnswers">
      <soap:operation soapAction="http://swbc.com/GetDataByPrimaryPhoneNumberAndSecurityAnswers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswersAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByAccountNumberAndSecurityAnswer1">
      <soap:operation soapAction="http://swbc.com/GetDataByAccountNumberAndSecurityAnswer1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDataByAccountNumberAndSecurityAnswer1AuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByAccountNumberAndSecurityAnswers">
      <soap:operation soapAction="http://swbc.com/GetDataByAccountNumberAndSecurityAnswers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDataByAccountNumberAndSecurityAnswersAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIVRSecurityAnswer">
      <soap:operation soapAction="http://swbc.com/ValidateIVRSecurityAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateIVRSecurityAnswerAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareTransaction">
      <soap:operation soapAction="http://swbc.com/PrepareTransactionWithSecurityQuestion1" style="document" />
      <wsdl:input name="PrepareTransactionWithSecurityQuestion1">
        <soap:body use="literal" />
        <soap:header message="tns:PrepareTransactionWithSecurityQuestion1AuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PrepareTransactionWithSecurityQuestion1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareTransaction">
      <soap:operation soapAction="http://swbc.com/PrepareTransactionWithSecurityQuestions" style="document" />
      <wsdl:input name="PrepareTransactionWithSecurityQuestions">
        <soap:body use="literal" />
        <soap:header message="tns:PrepareTransactionWithSecurityQuestionsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PrepareTransactionWithSecurityQuestions">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWBC_IVRWSSoap12" type="tns:SWBC_IVRWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewIVRRequestID">
      <soap12:operation soapAction="http://swbc.com/GetNewIVRRequestID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetNewIVRRequestIDAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAccountNumber">
      <soap12:operation soapAction="http://swbc.com/ValidateAccountNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateAccountNumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberAccountNumber">
      <soap12:operation soapAction="http://swbc.com/GetAccountTypesByMemberAccountNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAccountTypesByMemberAccountNumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberAccountNumberAndZipCode">
      <soap12:operation soapAction="http://swbc.com/GetAccountTypesByMemberAccountNumberAndZipCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAccountTypesByMemberAccountNumberAndZipCodeAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentTypes">
      <soap12:operation soapAction="http://swbc.com/GetPaymentTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPaymentTypesAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateABANumber">
      <soap12:operation soapAction="http://swbc.com/ValidateABANumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateABANumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisclosureDetails">
      <soap12:operation soapAction="http://swbc.com/GetDisclosureDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDisclosureDetailsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisclosureDetailsConFee">
      <soap12:operation soapAction="http://swbc.com/GetDisclosureDetailsConFee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDisclosureDetailsConFeeAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessACHPayment">
      <soap12:operation soapAction="http://swbc.com/ProcessACHPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProcessACHPaymentAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardTypes">
      <soap12:operation soapAction="http://swbc.com/GetCardTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCardTypesAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCreditCardNumber">
      <soap12:operation soapAction="http://swbc.com/ValidateCreditCardNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateCreditCardNumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessCCPayment">
      <soap12:operation soapAction="http://swbc.com/ProcessCCPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProcessCCPaymentAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypesByMemberPhoneNumber">
      <soap12:operation soapAction="http://swbc.com/GetAccountTypesByMemberPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAccountTypesByMemberPhoneNumberAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByPrimaryPhoneNumberAndSecurityAnswer1">
      <soap12:operation soapAction="http://swbc.com/GetDataByPrimaryPhoneNumberAndSecurityAnswer1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswer1AuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByPrimaryPhoneNumberAndSecurityAnswers">
      <soap12:operation soapAction="http://swbc.com/GetDataByPrimaryPhoneNumberAndSecurityAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDataByPrimaryPhoneNumberAndSecurityAnswersAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByAccountNumberAndSecurityAnswer1">
      <soap12:operation soapAction="http://swbc.com/GetDataByAccountNumberAndSecurityAnswer1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDataByAccountNumberAndSecurityAnswer1AuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByAccountNumberAndSecurityAnswers">
      <soap12:operation soapAction="http://swbc.com/GetDataByAccountNumberAndSecurityAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDataByAccountNumberAndSecurityAnswersAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIVRSecurityAnswer">
      <soap12:operation soapAction="http://swbc.com/ValidateIVRSecurityAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateIVRSecurityAnswerAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareTransaction">
      <soap12:operation soapAction="http://swbc.com/PrepareTransactionWithSecurityQuestion1" style="document" />
      <wsdl:input name="PrepareTransactionWithSecurityQuestion1">
        <soap12:body use="literal" />
        <soap12:header message="tns:PrepareTransactionWithSecurityQuestion1AuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PrepareTransactionWithSecurityQuestion1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareTransaction">
      <soap12:operation soapAction="http://swbc.com/PrepareTransactionWithSecurityQuestions" style="document" />
      <wsdl:input name="PrepareTransactionWithSecurityQuestions">
        <soap12:body use="literal" />
        <soap12:header message="tns:PrepareTransactionWithSecurityQuestionsAuthorizationHeader" part="AuthorizationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="PrepareTransactionWithSecurityQuestions">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWBC_IVRWS">
    <wsdl:port name="SWBC_IVRWSSoap" binding="tns:SWBC_IVRWSSoap">
      <soap:address location="http://localhost:9414/ECMIVRSERVICE.asmx" />
    </wsdl:port>
    <wsdl:port name="SWBC_IVRWSSoap12" binding="tns:SWBC_IVRWSSoap12">
      <soap12:address location="http://localhost:9414/ECMIVRSERVICE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>